body{
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100%;
  background-color: rgb(242, 242, 242);

}

.hero-section{
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 450px;
  margin: 20px 50px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
  background-image: url(../Images/her.png);
  background-repeat: no-repeat;
  background-position: cover cover;
}
.hero-right{
  width:500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-left{
  width: 600px;
  margin-left: 70px;
  font-style: italic;
}
.hero-image{
  width: 350px;
  min-width: 100px;
}
.hero-left h2{
  font-size: 40px;
}
.hero-lefth4{
  font-size: 40px;
}
.hero-left button{
  padding: 10px 20px;
  background-color: black;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  margin:50px 10px;
  cursor: pointer;
  transition: all .15s linear;
}
.hero-left button:hover{
  box-shadow: 3px 3px 7px gray;
}
.hero-left button:active{
  background-color: rgb(240, 240, 240);
  color: black;

}

.feature{
  margin: 40px 80px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-wrap: wrap;
  row-gap: 25px;
  column-gap: 15px;
}
.fe{
  background-color:#ffff;
  height: 180px;
  padding: 10px;
  font-family: arial;
  box-shadow: 20px 20px 34px rgba(0,0,0,0.3);
  border-radius: 10px;
  border: 1px solid gray;
}
.fe-image{
  width: 120px;
}
.fe h4{
  background-color: lightblue;
  padding: 5px 10px;
  border-radius: 5px;
}


.product-heading{
  text-align: center;
  box-shadow: 5px 5px 10px gray;
  padding: 20px 0px;
  font-size: 44px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 100px;
}
.products-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 40px 80px;
  column-gap: 30px;
  row-gap: 40px;
}
.products{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 430px;
  box-shadow: 10px 10px 30px gray;
  border-radius: 10px;
  transition: box-shadow .15s linear;
  cursor: pointer;
  background-color: white;
}
.products:hover{
  box-shadow: 7px 7px 20px gray;
}
.product-image{
  width: 230px;
}
.product-bottom{
  margin: 0px 20px;
  font-family: arial;
}
.product-owner{
  font-size: 12px;
  color: gray;
  margin-bottom:0px;
}
.product-name{
  margin-top: 10px;
  font-size: 19px;
  transition: all .1s ease;
  line-height: 30px;
  margin-bottom:0px;
}
.product-name:hover{
  color: rgb(37, 37, 37);
  text-decoration: underline;
}
.product-name:active{
  color: gray;
}
.product-price{
  font-size: 20px;
  margin-top: 15px;
  font-weight: 700;
  margin-bottom: 0px;
}

.discount-price{
  margin: 10px 0px 10px 10px;
  color: red;
  text-decoration: line-through;
  font-size: 16px;
}




